https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/master.zip#egg=cloudify-dsl-parser==3.4
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/master.zip#egg=cloudify-rest-client==3.4
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/master.zip#egg=cloudify-plugins-common==3.4
pyvcloud==16
requests==2.7.0
IPy==0.81
PyYAML==3.10
pycrypto==2.6.1
