{
    "vcloud_username": "",
    "vcloud_password": "",
    "vcloud_url": "",
    "vcloud_service": "",
    "vcloud_vcd": "",
    "manager_server_name": "",
    "manager_server_catalog": "",
    "manager_server_template": ""
}