{
"server":
    {
        "catalog": "",
        "template": "",
        "guest_customization":
            {
            "admin_password": "123",
            "computer_name": "custom-name",
            "script_executor": "/bin/bash",
            "script": "echo 'it works' > /tmp/guest_cust.out",
            "public_keys": []
            },
        "hardware":
            {
            "cpu": 3,
            "memory": 2048
            }
    },
    "manager_keypair":
    {
        "key": "mangerkey",
        "user": "ubuntu"
    },
    "agent_keypair":
    {
        "key": "agentkey",
        "user": "ubuntu"
    },
    "management_network": "networkname",
"floatingip":
    {
        "public_ip": "1.2.3.4",
        "edge_gateway": "gatewayname"
    },
"test_vm": "vapp_name",
"network":
    {
        "name": "newnetworkname",
        "static_range": "192.168.0.100-192.168.0.199",
        "edge_gateway": "gatewayname",
        "gateway_ip": "192.168.0.1",
        "netmask": "255.255.255.0",
        "dns": "10.147.115.1",
        "dns_suffix": "example.com",
        "dhcp":
         {
            "dhcp_range": "192.168.0.200-192.168.0.210",
            "default_lease": 3600,
            "max_lease": 7200
         }
     },
"security_group":
    {
    "gateway" : "gatewayname",
    "rule" :
        {
            "description": "Rule description",
            "protocol": "Tcp",
            "port": 29
        }
    },
    "public_nat":
    {
        "network_name": "newnet",
        "test_vm": "vapp_name",
        "nat":
        {
            "public_ip": "23.92.245.236",
            "edge_gateway": "gatewayname"
        },
        "rules_net":
        {
            "type": ["SNAT"]
        },
        "rules_port":
        {
            "type": ["SNAT", "DNAT"],
            "protocol": "Tcp",
            "original_port": 80,
            "translated_port": 8080
        }
    },
"combined":
    {
        "network_use_existing": false,
        "network_name": "existing-network"
    }
}
