{
"server":
    {
        "catalog": "",
        "template": "",
        "network": ""
    },
"floatingip":
    {
        "public_ip": "1.2.3.4",
        "gateway": "gatewayname"
    },
"test_vm": "vapp_name",
"network":
	{
	"static_range": "192.168.0.100-192.168.0.199",
        "gateway_name": "gatewayname",
        "gateway_ip": "192.168.0.1",
        "netmask": "255.255.255.0",
        "dns": "10.147.115.1",
        "dns_suffix": "example.com"},
"dhcp":
	{
    	"dhcp_range": "192.168.0.200-192.168.0.210",
        "default_lease": 3600,
        "max_lease": 7200}

}
