{
"test_vm": "vapp_name",
"test_network_name": "test-network",
"management_network": "networkname",
"ondemand_management_network": "default-routed-network",
"server":
    {
        "catalog": "",
        "template": "",
        "ondemand_catalog": "Public Catalog",
        "ondemand_template": "Ubuntu Server 12.04 LTS (amd64 20150127)",
        "guest_customization":
            {
            "admin_password": "123",
            "computer_name": "custom-name",
            "script_executor": "/bin/bash",
            "pre_script": "echo 'prescript works' > /tmp/guest_cust.out",
            "post_script": "echo 'postscript works' > /tmp/guest_cust.out",
            "public_keys": []
            },
        "hardware":
            {
            "cpu": 3,
            "memory": 2048
            }
    },
    "manager_keypair":
    {
        "key": "mangerkey",
        "user": "ubuntu"
    },
    "agent_keypair":
    {
        "key": "agentkey",
        "user": "ubuntu"
    },
"floatingip":
    {
        "public_ip": "1.2.3.4",
        "edge_gateway": "gatewayname"
    },
"network":
    {
        "name": "newnetworkname",
        "static_range": "192.168.0.100-192.168.0.199",
        "edge_gateway": "gatewayname",
        "gateway_ip": "192.168.0.1",
        "netmask": "255.255.255.0",
        "dns": "10.147.115.1",
        "dns_suffix": "example.com",
        "dhcp":
         {
            "dhcp_range": "192.168.0.200-192.168.0.210",
            "default_lease": 3600,
            "max_lease": 7200
         }
     },
    "security_group":
    {
       "security_group":
        {
            "edge_gateway" : "gatewayname"
        },
        "rules" :[
        {
            "description": "Rule description",
            "source": "external",
            "source_port": 29,
            "destination": "internal",
            "destination_port": "any",
            "protocol": "Tcp",
            "action": "allow",
            "log_traffic": false
        }]
    },
    "public_nat":
    {
        "network_name": "newnet",
        "test_vm": "vapp_name",
        "nat":
        {
            "public_ip": "23.92.245.236",
            "edge_gateway": "gatewayname"
        },
        "rules_net":
        {
            "type": ["SNAT"]
        },
        "rules_port":
        {
            "type": ["SNAT", "DNAT"],
            "protocol": "Tcp",
            "original_port": 80,
            "translated_port": 8080
        }
    },
"combined":
    {
        "network_use_existing": false,
        "network_name": "existing-network"
    }
}
